:root {
  --Very-Dark-Blue: hsl(243, 87%, 12%);
  --Desaturated-Blue: hsl(238, 22%, 44%);
  --Bright-Blue: hsl(224, 93%, 58%);
  --Moderate-Cyan: hsl(170, 45%, 43%);
  --Light-Grayish-Blue: hsl(240, 75%, 98%);
  --Light-Gray: hsl(0, 0%, 75%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}

img {
  max-width: 100%;
}

body {
  min-width: 375px;
  line-height: 1.3;
  background: var(--Light-Grayish-Blue);
}

header {
  margin-top: 2em;
  margin-bottom: 10em;
  padding: 0 2em;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10em;
}

.logo {
  width: 25%;
}

ul {
  display: flex;
  list-style: none;
}

ul li a {
  margin-left: 2em;
  text-decoration: none;
  color: var(--Very-Dark-Blue);
  font-size: 1.3rem;
  font-weight: 400;
}

.headerImage {
  margin: 0 2em;
}

.heading {
  text-align: center;
  color: var(--Very-Dark-Blue);
  margin: 3em 0 1em;
  font-size: 2.5rem;
}

.headingParagraph {
  text-align: center;
  font-size: 1.5rem;
  margin: 0 1em 2em;
  color: var(--Very-Dark-Blue);
}

.headerForm {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.headerForm > input {
  padding: 0.8em;
  color: var(--Light-Gray);
  border: 1px solid black;
  border-radius: 4px;
}

.btnOne {
  margin-top: 1em;
  background: var(--Bright-Blue);
  color: #fff;
  border: 0;
  border-radius: 4px;
  font-size: 1.5rem;
  padding: 0.8em;
  cursor: pointer;
  transition: opacity 0.2s;
}

.btnOne:hover {
  opacity: 0.5;
}

.productive {
  margin-bottom: 10em;
  padding: 0 2em;
  background: url(images/bg-curve-mobile.svg);
}

.productiveHeading {
  text-align: center;
  font-size: 1.5rem;
  color: var(--Very-Dark-Blue);
  margin-bottom: 2em;
  margin-top: 5em;
}

.productiveParagraph {
  color: var(--Very-Dark-Blue);
  font-size: 1.5rem;
  margin-bottom: 1.5em;
}

.fyloDescription {
  display: flex;
  justify-content: center;
  margin-top: 5em;
  margin-bottom: 3em;
}

.fyloDescription h3 {
  color: var(--Moderate-Cyan);
  font-size: 1.5rem;
  font-weight: 400;
  margin-right: 0.5em;
}

.fyloDescription h3:hover {
  opacity: 0.5;
}

.testimonial {
  box-shadow: 0px 0px 5px var(--Light-Gray);
  margin: 0 2em;
  padding: 2em 1em 2em 3em;
  border-radius: 5px;
  color: var(--Very-Dark-Blue);
}

.testimonialParagraph {
  margin-top: 1em;
  margin-bottom: 2em;
  font-size: 1.2rem;
  line-height: 1.5;
}

.profile {
  display: flex;
  align-items: center;
}

.clientAvatar {
  width: 10%;
  border-radius: 100px;
  margin-right: 1em;
}

.clientBio {
  line-height: 1.5;
}

.clientName {
  font-weight: bolder;
}

.cta {
  background: var(--Desaturated-Blue);
  color: #fff;
  padding: 5em 3em;
  text-align: center;
}

.ctaHeading {
  font-size: 2rem;
  margin-bottom: 1em;
}

.ctaParagraph {
  margin: 0 1em 1.5em;
  font-size: 1.5rem;
}

.ctaForm {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.ctaForm > input {
  border: none;
  padding: 0.8em;
  color: var(--Light-Gray);
  border: 1px solid black;
  border-radius: 4px;
}

.btnTwo {
  margin-top: 0.5em;
  background: var(--Bright-Blue);
  color: #fff;
  border: 0;
  border-radius: 4px;
  font-size: 1.5rem;
  padding: 0.8em;
  cursor: pointer;
  transition: opacity 0.2s;
}

.btnTwo:hover {
  opacity: 0.5;
  color: #fff;
}

footer {
  background: var(--Very-Dark-Blue);
  color: var(--Light-Grayish-Blue);
  padding: 5em 0;
}

.footerLogo {
  margin-left: 3em;
  margin-bottom: 3em;
}

.ContactInfo {
  display: flex;
  align-items: center;
  margin-left: 3em;
  padding: 1em 0;
}

.ContactInfo span {
  margin-left: 1em;
  font-size: 1.5rem;
}

footer ul {
  display: flex;
  flex-direction: column;
  margin: 3em 0;
}

footer ul li {
  padding: 0.5em 0;
}

footer ul li a {
  color: var(--Light-Grayish-Blue);
  font-size: 1.5rem;
  transition: color 0.2s;
}

footer ul li a:hover {
  color: var(--Bright-Blue);
}

.socials {
  text-align: center;
}

.socials img {
  margin: 0 1em;
  transition: background 0.2s;
}

.socials img:hover {
  background: var(--Bright-Blue);
}

.attribution {
  margin-top: 5em;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 600px) {
  header {
    margin-top: 5em;
    margin: 5em 3em 10em;
  }

  .logo {
    max-width: 150px;
  }

  ul li a {
    margin-left: 3em;
  }

  .landingPage {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }

  .headerImage img {
    margin: 0 2em;
  }

  .left {
    width: 50%;
  }

  .headerImage {
    width: 50%;
    margin-top: 10em;
  }

  .heading {
    text-align: left;
    font-size: 4.5rem;
  }

  .headingParagraph {
    text-align: left;
    margin-left: 0;
    font-size: 2rem;
    width: 30em;
  }

  .headerForm {
    margin-left: 0;
    display: flex;
    flex-direction: row;
  }

  .headerForm > input {
    padding-right: 12em;
    margin-right: 1em;
  }

  .btnOne {
    margin: 0;
    padding: 0 5em;
  }

  .productive {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-top: 20em;
    background: url(images/bg-curve-desktop.svg);
  }

  .productive > img {
    width: 40%;
    height: 50%;
    margin-right: 5em;
  }

  .productiveLeft {
    width: 60%;
    margin-left: 3em;
  }

  .productiveHeading {
    text-align: left;
    font-size: 4rem;
    margin-bottom: 1em;
    margin-top: 0;
  }

  .productiveParagraph {
    width: 60%;
  }

  .fyloDescription {
    justify-content: flex-start;
  }

  .testimonial {
    margin: 0;
    width: 30em;
    padding-right: 3em;
  }

  .cta {
    display: flex;
    padding: 10em 0;
  }

  .ctaBlock {
    text-align: left;
    margin-left: 5em;
    width: 50%;
  }

  .ctaHeading {
    font-size: 3rem;
  }

  .ctaParagraph {
    margin-left: 0;
    width: 70%;
  }

  .ctaForm {
    display: flex;
    flex-direction: column;
    margin-right: 20em;
    width: 30%;
  }

  .ctaForm > input {
    border: none;
    padding: 1.2em 1em;
    min-width: 30em;
  }

  .btnTwo {
    width: 15em;
    margin-top: 2em;
    padding: 1em 0;
    margin-right: 30em;
  }
}

@media screen and (min-width: 800px) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 3em;
    padding-top: 8em;
  }

  .footerLinks {
    margin-top: 8.5em;
    margin-left: 0;
  }

  .socials {
    margin-top: 9em;
    margin-right: 5em;
  }

  .attribution {
    width: 100%;
  }
}
